*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*[data-block] {
  background-color: var(--bg-color);
  padding-top: min(6.25vw, 20px);
  padding-bottom: min(6.25vw, 20px);
}
@media (max-width: 720px) {
  *[data-block]:not(:last-child) {
    margin-bottom: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
}

*[data-margins] {
  max-width: 1440px;
  width: 87.5vw;
  margin-left: auto;
  margin-right: auto;
}
*[data-horizontal-scroll] {
  padding-left: max(6.25vw, (100vw - 1440px) / 2);
  padding-right: max(6.25vw, (100vw - 1440px) / 2);
}
